# Loading the data to MySQL

## Libraries

In [37]:
#pip install PyMySQL

In [42]:
# importing libraries for data analysis
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [43]:
# Establishing a connection to your MySQL server:

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='Adel199810',
    db='final_project_energy',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

In [44]:
# Defining a function that reads the datasets into a pandas dataframe and writes them to a MySQL database:

def load_dataset_to_mysql(dataset_path, table_name):
    # Read dataset into a Pandas DataFrame
    df = pd.read_csv(dataset_path)
    
    # Define a database connection string
    connection_string = 'mysql+pymysql://root:Adel199810@localhost/final_project_energy'
    
    # Create an SQLAlchemy engine to connect to MySQL
    engine = create_engine(connection_string, echo=True)
    
    # Write the DataFrame to MySQL
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

In [46]:
# Calling the function for each dataset you want to load into MySQL:
# Load the electricity consumption dataset
load_dataset_to_mysql('/Users/adel/Desktop/Final_project_Flow/GITHUB/energy_consumption_france.csv', 'electricity_consumption')

# Load the holidays dataset
load_dataset_to_mysql('/Users/adel/Desktop/Final_project_Flow/GITHUB/all_days.csv', 'holidays')

# Load the weather dataset
load_dataset_to_mysql('/Users/adel/Desktop/Final_project_Flow/GITHUB/weather.csv', 'weather')

2023-03-11 17:19:56,567 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2023-03-11 17:19:56,568 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,578 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2023-03-11 17:19:56,578 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,582 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2023-03-11 17:19:56,583 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,585 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2023-03-11 17:19:56,586 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,596 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2023-03-11 17:19:56,597 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,598 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2023-03-11 17:19:56,598 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,600 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2023-03-11 17:19:56,600 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,602 INFO sqlalchemy.engine.base.Engine DESCRIBE `electricity_consumption`
2023-03-11 17:19:56,603 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,614 INFO sqlalchemy.engine.base.Engine DESCRIBE `electricity_consumption`
2023-03-11 17:19:56,615 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,620 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `final_project_energy`
2023-03-11 17:19:56,620 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,633 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `electricity_consumption`
2023-03-11 17:19:56,644 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,700 INFO sqlalchemy.engine.base.Engine
DROP TABLE electricity_consumption
2023-03-11 17:19:56,701 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,788 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-11 17:19:56,792 INFO sqlalchemy.engine.base.Engine
CREATE TABLE electricity_consumption (
	`Datetime` TEXT,
	`Year` BIGINT,
	`Month` BIGINT,
	`Day` BIGINT,
	`Hour` BIGINT,
	`Weekday` BIGINT,
	`Consumption (MW)` FLOAT(53),
	`Fuel oil (MW)` FLOAT(53),
	`Coal (MW)` FLOAT(53),
	`Gas (MW)` FLOAT(53),
	`Nuclear (MW)` FLOAT(53),
	`Wind (MW)` FLOAT(53),
	`Solar (MW)` FLOAT(53),
	`Hydroelectric (MW)` FLOAT(53),
	`Pumped storage (MW)` FLOAT(53),
	`Bioenergy (MW)` FLOAT(53),
	`Physical exchanges (MW)` FLOAT(53),
	`CO2 emissions intensity (g/kWh)` FLOAT(53),
	`Trading with England (MW)` FLOAT(53),
	`Trading with Spain (MW)` FLOAT(53),
	`Trading with Italy (MW)` FLOAT(53),
	`Trading with Switzerland (MW)` FLOAT(53),
	`Trading with Germany-Belgium (MW)` FLOAT(53)
)


2023-03-11 17:19:56,793 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:19:56,842 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-11 17:19:57,097 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2023-03-11 17:20:01,035 INFO sqlalchemy.engine.base.Engine INSERT INTO electricity_consumption (`Datetime`, `Year`, `Month`, `Day`, `Hour`, `Weekday`, `Consumption (MW)`, `Fuel oil (MW)`, `Coal (MW)`, `Gas (MW)`, `Nuclear (MW)`, `Wind (MW)`, `Solar (MW)`, `Hydroelectric (MW)`, `Pumped storage (MW)`, `Bioenergy (MW)`, `Physical exchanges (MW)`, `CO2 emissions intensity (g/kWh)`, `Trading with England (MW)`, `Trading with Spain (MW)`, `Trading with Italy (MW)`, `Trading with Switzerland (MW)`, `Trading with Germany-Belgium (MW)`) VALUES (%(Datetime)s, %(Year)s, %(Month)s, %(Day)s, %(Hour)s, %(Weekday)s, %(Consumption (MW))s, %(Fuel oil (MW))s, %(Coal (MW))s, %(Gas (MW))s, %(Nuclear (MW))s, %(Wind (MW))s, %(Solar (MW))s, %(Hydroelectric (MW))s, %(Pumped storage (MW))s, %(Bioenergy (MW))s, %(Physical exchanges (MW))s, %(CO2 emissions intensity (g/kWh))s, %(Trading with England (MW))s, %(Trading with Spain (MW))s, %(Trading with Italy (MW))s, %(Trading with Switzerland (MW))s, %(Trading with Germany-Belgium (MW))s)
2023-03-11 17:20:01,036 INFO sqlalchemy.engine.base.Engine ({'Datetime': '2013-05-21 19:30:00', 'Year': 2013, 'Month': 5, 'Day': 21, 'Hour': 19, 'Weekday': 1, 'Consumption (MW)': 58669.0, 'Fuel oil (MW)': 613.0, 'Coal (MW)': 2002.0, 'Gas (MW)': 1606.0, 'Nuclear (MW)': 43335.0, 'Wind (MW)': 1916.0, 'Solar (MW)': 191.0, 'Hydroelectric (MW)': 13889.0, 'Pumped storage (MW)': -26.0, 'Bioenergy (MW)': 642.0, 'Physical exchanges (MW)': -5503.0, 'CO2 emissions intensity (g/kWh)': 55.0, 'Trading with England (MW)': -1247.0, 'Trading with Spain (MW)': 980.0, 'Trading with Italy (MW)': -2379.0, 'Trading with Switzerland (MW)': -1296.0, 'Trading with Germany-Belgium (MW)': -1077.0}, {'Datetime': '2013-05-21 20:30:00', 'Year': 2013, 'Month': 5, 'Day': 21, 'Hour': 20, 'Weekday': 1, 'Consumption (MW)': 55731.0, 'Fuel oil (MW)': 842.0, 'Coal (MW)': 1787.0, 'Gas (MW)': 1629.0, 'Nuclear (MW)': 42949.0, 'Wind (MW)': 1954.0, 'Solar (MW)': 37.0, 'Hydroelectric (MW)': 12847.0, 'Pumped storage (MW)': -25.0, 'Bioenergy (MW)': 638.0, 'Physical exchanges (MW)': -6928.0, 'CO2 emissions intensity (g/kWh)': 56.0, 'Trading with England (MW)': -1500.0, 'Trading with Spain (MW)': 809.0, 'Trading with Italy (MW)': -2466.0, 'Trading with Switzerland (MW)': -1798.0, 'Trading with Germany-Belgium (MW)': -963.0}, {'Datetime': '2013-05-21 21:00:00', 'Year': 2013, 'Month': 5, 'Day': 21, 'Hour': 21, 'Weekday': 1, 'Consumption (MW)': 54522.0, 'Fuel oil (MW)': 734.0, 'Coal (MW)': 1822.0, 'Gas (MW)': 1527.0, 'Nuclear (MW)': 43003.0, 'Wind (MW)': 1980.0, 'Solar (MW)': 3.0, 'Hydroelectric (MW)': 11480.0, 'Pumped storage (MW)': -25.0, 'Bioenergy (MW)': 639.0, 'Physical exchanges (MW)': -6643.0, 'CO2 emissions intensity (g/kWh)': 56.0, 'Trading with England (MW)': -1500.0, 'Trading with Spain (MW)': -88.0, 'Trading with Italy (MW)': -2466.0, 'Trading with Switzerland (MW)': -1778.0, 'Trading with Germany-Belgium (MW)': -1763.0}, {'Datetime': '2013-05-22 00:00:00', 'Year': 2013, 'Month': 5, 'Day': 22, 'Hour': 0, 'Weekday': 2, 'Consumption (MW)': 54841.0, 'Fuel oil (MW)': 343.0, 'Coal (MW)': 1630.0, 'Gas (MW)': 1082.0, 'Nuclear (MW)': 42438.0, 'Wind (MW)': 1840.0, 'Solar (MW)': 0.0, 'Hydroelectric (MW)': 11978.0, 'Pumped storage (MW)': -25.0, 'Bioenergy (MW)': 650.0, 'Physical exchanges (MW)': -5097.0, 'CO2 emissions intensity (g/kWh)': 47.0, 'Trading with England (MW)': -1500.0, 'Trading with Spain (MW)': -758.0, 'Trading with Italy (MW)': -2174.0, 'Trading with Switzerland (MW)': -888.0, 'Trading with Germany-Belgium (MW)': -1155.0}, {'Datetime': '2013-05-22 11:30:00', 'Year': 2013, 'Month': 5, 'Day': 22, 'Hour': 11, 'Weekday': 2, 'Consumption (MW)': 60692.0, 'Fuel oil (MW)': 345.0, 'Coal (MW)': 1984.0, 'Gas (MW)': 1681.0, 'Nuclear (MW)': 43578.0, 'Wind (MW)': 1777.0, 'Solar (MW)': 1447.0, 'Hydroelectric (MW)': 12976.0, 'Pumped storage (MW)': -24.0, 'Bioenergy (MW)': 607.0, 'Physical exchanges (MW)': -3681.0, 'CO2 emissions intensity (g/kWh)': 51.0, 'Trading with England (MW)': -1500.0, 'Trading with Spain (MW)': 1000.0, 'Trading with Italy (MW)': -1945.0, 'Trading with Switzerland (MW)': -112.0, 'Trading with Germany-Belgium (MW)': -695.0}, {'Datetime': '2013-05-22 14:30:00', 'Year': 2013, 'Month': 5, 'Day': 22, 'Hour': 14, 'Weekday': 2, 'Consumption (MW)': 58934.0, 'Fuel oil (MW)': 347.0, 'Coal (MW)': 1965.0, 'Gas (MW)': 1568.0, 'Nuclear (MW)': 43188.0, 'Wind (MW)': 1780.0, 'Solar (MW)': 1793.0, 'Hydroelectric (MW)': 13212.0, 'Pumped storage (MW)': -24.0, 'Bioenergy (MW)': 612.0, 'Physical exchanges (MW)': -5510.0, 'CO2 emissions intensity (g/kWh)': 51.0, 'Trading with England (MW)': -1500.0, 'Trading with Spain (MW)': 551.0, 'Trading with Italy (MW)': -1966.0, 'Trading with Switzerland (MW)': -1223.0, 'Trading with Germany-Belgium (MW)': -1016.0}, {'Datetime': '2013-05-22 20:00:00', 'Year': 2013, 'Month': 5, 'Day': 22, 'Hour': 20, 'Weekday': 2, 'Consumption (MW)': 55182.0, 'Fuel oil (MW)': 345.0, 'Coal (MW)': 1981.0, 'Gas (MW)': 1162.0, 'Nuclear (MW)': 43213.0, 'Wind (MW)': 1537.0, 'Solar (MW)': 234.0, 'Hydroelectric (MW)': 13028.0, 'Pumped storage (MW)': -60.0, 'Bioenergy (MW)': 639.0, 'Physical exchanges (MW)': -6900.0, 'CO2 emissions intensity (g/kWh)': 51.0, 'Trading with England (MW)': -1500.0, 'Trading with Spain (MW)': -362.0, 'Trading with Italy (MW)': -2466.0, 'Trading with Switzerland (MW)': -1334.0, 'Trading with Germany-Belgium (MW)': -1481.0}, {'Datetime': '2013-05-22 20:30:00', 'Year': 2013, 'Month': 5, 'Day': 22, 'Hour': 20, 'Weekday': 2, 'Consumption (MW)': 53886.0, 'Fuel oil (MW)': 345.0, 'Coal (MW)': 1999.0, 'Gas (MW)': 904.0, 'Nuclear (MW)': 43170.0, 'Wind (MW)': 1470.0, 'Solar (MW)': 110.0, 'Hydroelectric (MW)': 12824.0, 'Pumped storage (MW)': -26.0, 'Bioenergy (MW)': 645.0, 'Physical exchanges (MW)': -7557.0, 'CO2 emissions intensity (g/kWh)': 50.0, 'Trading with England (MW)': -1500.0, 'Trading with Spain (MW)': -362.0, 'Trading with Italy (MW)': -2466.0, 'Trading with Switzerland (MW)': -1334.0, 'Trading with Germany-Belgium (MW)': -1481.0}  ... displaying 10 of 182592 total bound parameter sets ...  {'Datetime': '2020-08-01 09:30:00', 'Year': 2020, 'Month': 8, 'Day': 1, 'Hour': 9, 'Weekday': 5, 'Consumption (MW)': 41240.0, 'Fuel oil (MW)': 72.0, 'Coal (MW)': 350.0, 'Gas (MW)': 2544.0, 'Nuclear (MW)': 30473.0, 'Wind (MW)': 1355.0, 'Solar (MW)': 2467.0, 'Hydroelectric (MW)': 5561.0, 'Pumped storage (MW)': -477.0, 'Bioenergy (MW)': 1141.0, 'Physical exchanges (MW)': -2245.0, 'CO2 emissions intensity (g/kWh)': 37.0, 'Trading with England (MW)': -1189.0, 'Trading with Spain (MW)': -967.0, 'Trading with Italy (MW)': -1148.0, 'Trading with Switzerland (MW)': 147.0, 'Trading with Germany-Belgium (MW)': 1172.0}, {'Datetime': '2020-08-01 10:30:00', 'Year': 2020, 'Month': 8, 'Day': 1, 'Hour': 10, 'Weekday': 5, 'Consumption (MW)': 43215.0, 'Fuel oil (MW)': 71.0, 'Coal (MW)': 354.0, 'Gas (MW)': 2775.0, 'Nuclear (MW)': 30620.0, 'Wind (MW)': 1047.0, 'Solar (MW)': 3769.0, 'Hydroelectric (MW)': 5909.0, 'Pumped storage (MW)': -478.0, 'Bioenergy (MW)': 1122.0, 'Physical exchanges (MW)': -1974.0, 'CO2 emissions intensity (g/kWh)': 37.0, 'Trading with England (MW)': -1782.0, 'Trading with Spain (MW)': -1127.0, 'Trading with Italy (MW)': -647.0, 'Trading with Switzerland (MW)': 448.0, 'Trading with Germany-Belgium (MW)': 1365.0})
2023-03-11 17:20:11,239 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-11 17:20:11,456 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2023-03-11 17:20:11,457 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,461 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2023-03-11 17:20:11,462 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,465 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2023-03-11 17:20:11,465 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,467 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2023-03-11 17:20:11,468 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,472 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2023-03-11 17:20:11,473 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,474 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2023-03-11 17:20:11,475 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,476 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2023-03-11 17:20:11,477 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,481 INFO sqlalchemy.engine.base.Engine DESCRIBE `holidays`
2023-03-11 17:20:11,482 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,494 INFO sqlalchemy.engine.base.Engine DESCRIBE `holidays`
2023-03-11 17:20:11,495 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,499 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `final_project_energy`
2023-03-11 17:20:11,500 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,504 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `holidays`
2023-03-11 17:20:11,504 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,511 INFO sqlalchemy.engine.base.Engine
DROP TABLE holidays
2023-03-11 17:20:11,512 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,557 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-11 17:20:11,559 INFO sqlalchemy.engine.base.Engine
CREATE TABLE holidays (
	date TEXT,
	`Year` BIGINT,
	`Month` BIGINT,
	`Day` BIGINT,
	`Weekday` BIGINT,
	`Flag Holiday` BIGINT
)


2023-03-11 17:20:11,560 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,582 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-11 17:20:11,585 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2023-03-11 17:20:11,606 INFO sqlalchemy.engine.base.Engine INSERT INTO holidays (date, `Year`, `Month`, `Day`, `Weekday`, `Flag Holiday`) VALUES (%(date)s, %(Year)s, %(Month)s, %(Day)s, %(Weekday)s, %(Flag Holiday)s)
2023-03-11 17:20:11,607 INFO sqlalchemy.engine.base.Engine ({'date': '2012-01-01', 'Year': 2012, 'Month': 1, 'Day': 1, 'Weekday': 6, 'Flag Holiday': 1}, {'date': '2012-01-02', 'Year': 2012, 'Month': 1, 'Day': 2, 'Weekday': 0, 'Flag Holiday': 0}, {'date': '2012-01-03', 'Year': 2012, 'Month': 1, 'Day': 3, 'Weekday': 1, 'Flag Holiday': 0}, {'date': '2012-01-04', 'Year': 2012, 'Month': 1, 'Day': 4, 'Weekday': 2, 'Flag Holiday': 0}, {'date': '2012-01-05', 'Year': 2012, 'Month': 1, 'Day': 5, 'Weekday': 3, 'Flag Holiday': 0}, {'date': '2012-01-06', 'Year': 2012, 'Month': 1, 'Day': 6, 'Weekday': 4, 'Flag Holiday': 0}, {'date': '2012-01-07', 'Year': 2012, 'Month': 1, 'Day': 7, 'Weekday': 5, 'Flag Holiday': 0}, {'date': '2012-01-08', 'Year': 2012, 'Month': 1, 'Day': 8, 'Weekday': 6, 'Flag Holiday': 0}  ... displaying 10 of 3804 total bound parameter sets ...  {'date': '2022-05-30', 'Year': 2022, 'Month': 5, 'Day': 30, 'Weekday': 0, 'Flag Holiday': 0}, {'date': '2022-05-31', 'Year': 2022, 'Month': 5, 'Day': 31, 'Weekday': 1, 'Flag Holiday': 0})
2023-03-11 17:20:11,739 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-11 17:20:11,762 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2023-03-11 17:20:11,763 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,768 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2023-03-11 17:20:11,769 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,772 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2023-03-11 17:20:11,773 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,775 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2023-03-11 17:20:11,776 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,782 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2023-03-11 17:20:11,783 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,785 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2023-03-11 17:20:11,786 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,789 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2023-03-11 17:20:11,790 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,792 INFO sqlalchemy.engine.base.Engine DESCRIBE `weather`
2023-03-11 17:20:11,794 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,803 INFO sqlalchemy.engine.base.Engine DESCRIBE `weather`
2023-03-11 17:20:11,805 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,808 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `final_project_energy`
2023-03-11 17:20:11,809 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,815 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `weather`
2023-03-11 17:20:11,816 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,822 INFO sqlalchemy.engine.base.Engine
DROP TABLE weather
2023-03-11 17:20:11,823 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,894 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-11 17:20:11,917 INFO sqlalchemy.engine.base.Engine
CREATE TABLE weather (
	`Date` TEXT,
	`Year` BIGINT,
	`Month` BIGINT,
	`Day` BIGINT,
	`Weekday` BIGINT,
	`Average temperature (°C)` FLOAT(53),
	`Reference temperature (°C)` FLOAT(53),
	`Temperature Deviation (°C)` FLOAT(53)
)


2023-03-11 17:20:11,921 INFO sqlalchemy.engine.base.Engine {}
2023-03-11 17:20:11,943 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-11 17:20:11,948 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2023-03-11 17:20:11,982 INFO sqlalchemy.engine.base.Engine INSERT INTO weather (`Date`, `Year`, `Month`, `Day`, `Weekday`, `Average temperature (°C)`, `Reference temperature (°C)`, `Temperature Deviation (°C)`) VALUES (%(Date)s, %(Year)s, %(Month)s, %(Day)s, %(Weekday)s, %(Average temperature (°C))s, %(Reference temperature (°C))s, %(Temperature Deviation (°C))s)
2023-03-11 17:20:11,983 INFO sqlalchemy.engine.base.Engine ({'Date': '2012-01-03', 'Year': 2012, 'Month': 1, 'Day': 3, 'Weekday': 1, 'Average temperature (°C)': 8.4, 'Reference temperature (°C)': 4.6, 'Temperature Deviation (°C)': 3.8000000000000007}, {'Date': '2012-01-08', 'Year': 2012, 'Month': 1, 'Day': 8, 'Weekday': 6, 'Average temperature (°C)': 7.9, 'Reference temperature (°C)': 4.7, 'Temperature Deviation (°C)': 3.2}, {'Date': '2012-01-12', 'Year': 2012, 'Month': 1, 'Day': 12, 'Weekday': 3, 'Average temperature (°C)': 5.1, 'Reference temperature (°C)': 4.7, 'Temperature Deviation (°C)': 0.39999999999999947}, {'Date': '2012-01-15', 'Year': 2012, 'Month': 1, 'Day': 15, 'Weekday': 6, 'Average temperature (°C)': 1.1, 'Reference temperature (°C)': 4.8, 'Temperature Deviation (°C)': -3.7}, {'Date': '2012-01-17', 'Year': 2012, 'Month': 1, 'Day': 17, 'Weekday': 1, 'Average temperature (°C)': 1.0, 'Reference temperature (°C)': 4.9, 'Temperature Deviation (°C)': -3.9}, {'Date': '2012-01-20', 'Year': 2012, 'Month': 1, 'Day': 20, 'Weekday': 4, 'Average temperature (°C)': 8.6, 'Reference temperature (°C)': 5.0, 'Temperature Deviation (°C)': 3.6}, {'Date': '2012-01-21', 'Year': 2012, 'Month': 1, 'Day': 21, 'Weekday': 5, 'Average temperature (°C)': 9.7, 'Reference temperature (°C)': 5.1, 'Temperature Deviation (°C)': 4.6}, {'Date': '2012-01-23', 'Year': 2012, 'Month': 1, 'Day': 23, 'Weekday': 0, 'Average temperature (°C)': 7.9, 'Reference temperature (°C)': 5.2, 'Temperature Deviation (°C)': 2.7}  ... displaying 10 of 3804 total bound parameter sets ...  {'Date': '2022-05-11', 'Year': 2022, 'Month': 5, 'Day': 11, 'Weekday': 2, 'Average temperature (°C)': 18.7, 'Reference temperature (°C)': 15.2, 'Temperature Deviation (°C)': 3.5}, {'Date': '2022-05-17', 'Year': 2022, 'Month': 5, 'Day': 17, 'Weekday': 1, 'Average temperature (°C)': 21.5, 'Reference temperature (°C)': 15.9, 'Temperature Deviation (°C)': 5.6})
2023-03-11 17:20:12,150 INFO sqlalchemy.engine.base.Engine COMMIT